.banner_divider {
    padding: 0.25rem 0;
    width: 100%;
    background-color: var(--adlas-primary-color);
}

.home_about_section {
    padding: 12rem 0;
    background: var(--adlas-color-white);
    width: 100%;
    position: relative;
}

.home_about_section::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -70px;
    height: calc(100% + 70px);
    background: var(--adlas-secondary-color);
    right: 0;
    width: 30%;
    z-index: 1;
}

.home_about_section_ltr {
    margin-top: 4rem;
    max-width: 650px;
    padding-left: 100px;
}

.home_about_section_ltr h4 {
    font-weight: 700 !important;
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 2rem;
}

.home_about_section_ltr p {
    max-width: 650px !important;
    margin-bottom: 0.5rem;
}


.home_about_section_rtl {
    padding-right: 100px;
}


.home_about_section_rtl_img {
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/vision_mission_img.jpg');
    /* mix-blend-mode: luminosity !important; */
    height: 550px;
    position: relative;
    z-index: 15;
    border-radius: var(--adlas-border-radius);
}


.home_about_section_rtl_text {
    top: 10%;
    max-width: 259px;
    opacity: 1;
    transition: all 0.8s;
    z-index: 15;
}

.home_services_section {
    padding: 8rem 0 4rem;
    background-color: #f5f7f7 !important;
    background: var(--adlas-color-white);
}

.home_services_section .home_services_text_container h4 {
    font-weight: 700 !important;
    font-size: 38px;
    text-align: center;
}

.home_services_section .home_services_text_container p {
    text-align: center;
    margin: 1.5rem 0;
}

.home_services_section .home_services_grid_container {
    margin: 2rem 0;
    padding: 0;
}

.home_services_section .home_services_grid_container .active_liner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 52.5%;
    width: 1px;
    height: 0;
    background-color: #2cc849;
    animation: corp-line 1.5s 1 forwards;
}



.home_services_grid_container .home_services_ltr {
    margin-bottom: 1rem;
}

.home_services_grid_container .home_services_ltr_img {
    height: 400px;
    background-image: url('/static/banner_img_02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease-in-out;
    position: relative;
    width: 100%;
    border-radius: var(--adlas-border-radius);
}

.home_services_grid_container .home_services_ltr_img span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0e3844;
    transition: 0.4s ease-in-out;
    left: auto;
    right: 0;
    width: 0;
}

.home_services_grid_container .home_services_ltr_img .home_services_ltr_text {
    /* position: relative; */
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    max-width: 259px;
    opacity: 1;
    transition: all 0.8s;
}

.home_services_ltr_text p {
    color: var(--adlas-color-white);
    font-size: 24px !important;
    line-height: 1.3 !important;
    text-align: right !important;
}

.home_services_grid_container .home_services_ltr_bottom, .home_services_grid_container .home_services_rlt_text {
    margin-bottom: 2.5rem;
    padding: 2rem 0;
    display: flex;
    /* justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column; */
}

.home_services_grid_container .home_services_rlt_text:first-child {
    margin-top: 3.5rem !important;
}


.home_services_grid_container .home_services_ltr_bottom h4,
.home_services_grid_container .home_services_rlt_text h4 {
    font-weight: 700 !important;
    position: relative !important;
}

.home_services_grid_container .home_services_ltr_bottom h4::before,
.home_services_grid_container .home_services_rlt_text h4::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 30px;
    height: 2px;
    /* background-color: var(--adlas-secondary-color); */
    background-color: #2cc849;
    margin: auto;
    /* left: 0; */
}

.home_services_grid_container .home_services_ltr_bottom p,
.home_services_grid_container .home_services_rlt_text p {
    margin-top: 1rem !important;
}

.home_services_grid_container .home_services_ltr_bottom h4, .home_services_grid_container .home_services_ltr_bottom p {
    text-align: right;
    max-width: 350px;
}


.home_services_grid_container .home_services_rlt_text h4, .home_services_grid_container .home_services_rlt_text p {
    text-align: left;
    max-width: 350px;
    margin-left: 4rem;
}


.home_services_section_v {
    padding: 8rem 0 5rem;
    background: var(--adlas-color-white);
    /* background: #e8c5451c; */
}

.home_services_section_v .home_services_section_v_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home_services_section_v .home_services_section_v_title h4 {
    font-weight: 700 !important;
    font-size: 38px;
    text-align: center;
}

.home_services_section_v .home_services_section_v_title p {
    margin: 1rem 4rem;
}

.home_services_section_v .home_services_children_container {
    padding: 2rem;
}

.home_services_children_container .home_services_child {
    background: var(--adlas-color-white);
    padding: 15px 10px 20px;
    transition: all 0.4s ease 0s;
    color: rgb(38, 39, 41);
    border-radius: var(--adlas-border-radius);
    height: 240px;
    margin-bottom: 2.5rem;
    position: relative;
}

.home_services_children_container .home_services_child.one_of_six {
    background: #ffdfd1;
    box-shadow: 0 0 0 2px #ef6539;
}

.home_services_children_container .home_services_child.two_of_six {
    background: #dbf4f4;
    box-shadow: 0 0 0 2px #1eb8b8;
}

.home_services_children_container .home_services_child.three_of_six {
    background: #fce2eb;
    box-shadow: 0 0 0 2px #f3397e;
}

.home_services_children_container .home_services_child.four_of_six {
    background: #dbd9f7;
    box-shadow: 0 0 0 2px #6358de;
}

.home_services_children_container .home_services_child.five_of_six {
    background: #d7fec8;
    box-shadow: 0 0 0 2px #19a075;
}

.home_services_children_container .home_services_child.six_of_six {
    background: #dbf4f4;
    box-shadow: 0 0 0 2px #1eb8b8;
}

.home_services_children_container .home_services_child span {
    height: auto;
    width: 60%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

    position: absolute;
    right: 20px;
    top: 15px;
}


.home_services_children_container .home_services_child span.one_of_six {
    background-image: url("/static/icons/procurement.svg");
}

.home_services_children_container .home_services_child span.two_of_six {
    background-image: url("/static/icons/agricultural.svg");
}

.home_services_children_container .home_services_child span.three_of_six {
    background-image: url("/static/icons/food_non_food_items.svg");
}

.home_services_children_container .home_services_child span.four_of_six {
    background-image: url("/static/icons/export.svg");
}

.home_services_children_container .home_services_child span.five_of_six {
    background-image: url("/static/icons/partnership.svg");
}

.home_services_children_container .home_services_child span.six_of_six {
    background-image: url("/static/icons/sustainability.svg");
}




.home_services_child .home_services_child_text {
    max-width: 100%;
    margin-bottom: 1rem;
    font-weight: 700 !important;
    margin-left: 2rem;
}

.home_services_child .home_services_child_text h4 {
    max-width: 230px;
    margin: 1rem 0;
    font-weight: 700 !important;
}


.home_section_testimonials {
    padding: 6rem 0;
    /* background: var(--adlas-secondary-color-02); */
    background-color: var(--adlas-color-white);
    position: relative;
    z-index: 11;
}


@keyframes corp-line {
    0% {
        height: 0
    }

    100% {
        height: calc(100% + 235px)
    }
}




@media screen and (min-device-width: 1400px) and (max-device-width: 1600px) {}

@media screen and (min-device-width: 1200px) and (max-device-width: 1400px) {}

@media only screen and (min-device-width: 764px) and (max-device-width: 1199px) {}

@media only screen and (min-device-width: 360px) and (max-device-width: 763px) {}

@media only screen and (min-device-width: 218px) and (max-device-width: 359px) {}