.blank_banner_section {
    background-color: var(--adlas-secondary-color);
    padding: 2.5rem 0;
}

.general_section {
    padding: 6rem 0;
}

/* Testimonials CSS */

.testimonials_section {
    padding: 6rem 0;
    /* background: var(--adlas-secondary-color-02); */
    background-color: var(--adlas-color-white);
    position: relative;
    z-index: 11;
}

.testimonials_child_container {
    /* background: var(--adlas-secondary-color-02); */
    background: var(--adlas-white-color);
}

.testimonials_child_container .testimonials_child {
    padding-left: 80px !important;
    padding-right: 80px !important;
    background: var(--adlas-white-color);
}


.testimonials_child_container .testimonials_child h4 {
    font-weight: 700 !important;
    margin-bottom: 1rem;
}

.testimonials_child_container .testimonials_child h4,
.testimonials_child_container .testimonials_child p {
    text-align: center;
}

/* Custom Banner CSS */
.general_custom_banner {
    background-image: url('/static/vision_mission_img.jpg');
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--adlas-color-white);
    padding-left: 80px;
    padding-right: 80px;
    padding: 8rem 0;
    /* mix-blend-mode: luminosity !important; */
}

.general_custom_banner h2 {
    font-size: 60px;
    line-height: 1.1em;
    text-align: left;
    font-weight: 800 !important;
}

.general_custom_banner p {
    margin: 1rem 0 !important;
    text-align: left;
    font-weight: 400 !important;
}