.heroContainer_padding {
    padding: 0;
}

.banner_background_overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: transparent;
    mix-blend-mode: luminosity !important;
    z-index: 10;
    background-image: linear-gradient(180deg, #28251F00 70%, #f2295b 100%);
    opacity: 0.82;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    filter: brightness(0%) contrast(80%) saturate(80%) blur(0px) hue-rotate(0deg) !important;
}

.hero_banner_slider_child {
    background-image: url('/static/home_hero_03.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    padding-right: 80px;
    height: 650px;
    width: 100%;
}

.hero_banner_slider_child h2 {
    font-weight: 600 !important;
    font-size: 3.625rem !important;
    line-height: 1.1 !important;
    max-width: 600px;
}

.hero_banner_slider_child p {
    margin: 2rem 0;
    max-width: 450px;
}

.hero_banner_slider_child h2, .hero_banner_slider_child p {
    text-align: left;
}

.hero_banner_slider_child .custom_btn {
    border: 1px solid var(--adlas-primary-color);
    background: var(--adlas-primary-color);
    color: var(--adlas-secondary-color);
    min-width: 180px;
    height: 55px;
    line-height: 28px;
    padding-left: 18px;
    padding-right: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px !important;
    text-align: left;
    z-index: 11;
    font-size: 16px;
    font-weight: 500;
}

.hero_banner_slider_child .custom_btn:hover {
    border: 1px solid var(--adlas-secondary-color);
    background: var(--adlas-secondary-color);
    color: var(--adlas-white-color)
}

.heroContainer_padding .banner_background_img {
    min-width: calc(35% - 15px);
}

.heroContainer_padding .banner_background_img span {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    transition: 0.4s;
    position: relative;
    will-change: transform;
    background: rgba(0, 0, 0, 0.3);
    border-radius: var(--adlas-border-radius);
}




@media screen and (min-device-width: 1400px) and (max-device-width: 1600px) {}

@media screen and (min-device-width: 1200px) and (max-device-width: 1400px) {}

@media only screen and (min-device-width: 764px) and (max-device-width: 1199px) {
    .hero_banner_slider_child {
        padding-left: 35px;
        padding-right: 35px;
        height: 650px;
        width: 100%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 763px) {

    .hero_banner_slider_child {
        padding-left: 20px;
        padding-right: 20px;
        height: 650px;
        width: 100%;
    }


    .hero_banner_slider_child h2 {
        margin-top: 3rem !important;
        font-size: 40px !important;
    }
}

@media only screen and (min-device-width: 218px) and (max-device-width: 359px) {}