/* Header */

.nav_padding {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.contact_us_button {
    border: var(--adlas-button-border);
    background: var(--adlas-primary-color);
    width: 150px;
    height: 50px;
    line-height: 28px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--adlas-border-radius);
    color: var(--adlas-color-white) !important;
    font-weight: 700 !important;
    font-size: var(--adlas-nav-font-size) !important;
    line-height: var(--adlas-nav-line-height) !important;
}

.contact_us_button:hover {
    border: 1px solid var(--adlas-secondary-color);
    background: var(--adlas-secondary-color);
}

/* footer */
.footer_section {
    /* background-color: #f5f7f7 !important; */
    background: var(--adlas-secondary-color) !important;
    /* padding: 3rem 0 !important; */
}

.footer_section h4 {
    font-size: 1.125rem;
    line-height: 1.77777;
    font-weight: 700 !important;
    color: var(--adlas-color-white);
}

.footer_section p {
    max-width: 450px;
    /* font-size: 1rem;
    line-height: 1.75; */
    font-weight: 400 !important;
    color: var(--adlas-color-white);

}

.footer_section .social {
    margin: 0;
}

.footer_section .social li {
    display: inline-block;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.footer_section .social li a {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #f9e6d4;
    color: var(--adlas-primary-color);
    font-size: 14px;
    transition: all all 0.5s ease-out 0s;
}

.footer_section .social li svg {
    font-size: 20px !important;
}

.footer_section li a {
    font-weight: 400 !important;
    color: var(--adlas-color-white);
}

.footer_section li a:hover {
    color: var(--adlas-nav-active-color) !important;
}

.footer_yellow_shape_img {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-70%, 50%) scale(1);
}

.footer_section .footer_email_subscription {
    margin-bottom: 0;
}

.footer_section .footer_email_subscription h4 {
    font-size: 1.125rem;
    line-height: 1.77777;
    font-weight: 700 !important;
}

.footer_section .footer_email_subscription p {
    max-width: 400px;
    /* font-size: 1rem;
    line-height: 1.75; */
}

.footer_section .bg_copyright {
    background: var(--adlas-color-black);
    display: flex !important;
    justify-content: center !important;
}

.footer_section .bg_copyright p {
    text-align: center !important;
    max-width: 100% !important;
    font-size: 15px !important;
    line-height: 1.5;
    font-weight: 500 !important;
}